<div class="row">
  <div class="col" id="lblTitle">
    <h1 id="lblTitle"><b>Editar empleado</b></h1>
  </div>
</div>
<div class="row">
  <catalogue-form-details-employee
    [employee]="employee"
    (onEmitEmployee)="saveEmployee($event)"></catalogue-form-details-employee>
  <!-- <catalogue-form-details-user
      [idUser]="idUser"
      [user]="user"
      [profile]="profile"
      [listProfiles]="profiles"
      (onEmitUser)="saveUser($event)"
      (onEmitPassword)="savePassword($event)"></catalogue-form-details-user> -->
</div>
