<div *ngIf="datasource.data.length === 0 && isComedorLoaded" class="mb-3">
  <h3>
    <span class="badge bg-danger no-records">
      *No hay registros disponibles con los filtros especificados
    </span>
  </h3>
</div>

<div class="example-container mat-elevation-z8">
  <div class="example-table-container" style="overflow-y: auto; max-height: 400px;">
    <!-- Establecemos un max-height para la tabla -->
    <table mat-table [dataSource]="datasource" matSort class="example-table">
      <!-- Columna de Fecha -->
      <ng-container matColumnDef="Fecha">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
          <strong>Fecha</strong>
        </th>
        <td mat-cell *matCellDef="let row" class="align-columns">
          {{ convertStringToDate(row.fechaRegistro) }}
        </td>
      </ng-container>

      <!-- Columna de Sitio -->
      <ng-container matColumnDef="Sitio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
          <strong>Sitio</strong>
        </th>
        <td mat-cell *matCellDef="let row" class="align-columns">
          {{ row.descripcion }}
        </td>
      </ng-container>

      <!-- Columna de Turno -->
      <ng-container matColumnDef="Turno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
          <strong>Turno</strong>
        </th>
        <td mat-cell *matCellDef="let row" class="align-columns">
          {{ row.turno }}
        </td>
      </ng-container>

      <!-- Columna de Comidas -->
      <ng-container matColumnDef="Comidas">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
          <strong>Comidas</strong>
        </th>
        <td mat-cell *matCellDef="let row" class="align-columns">
          {{ row.totalRegistros }}
        </td>
      </ng-container>

      <!-- Header y filas de la tabla -->
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" class="paginator-sticky" aria-label="Select page of contractors"></mat-paginator>
</div>
