<div class="row">
  <div class="col-12" id="lblTitle">
    <!--Title-->
    <h1 id="lblTitle"> <b>Catálogo de empleados</b></h1>
    <hr/>
    <!--Filters-->
    <div class="row">
      <div class="col-4">
        <select class="form-select" id="PlantSelect" #selectPlant (change)="changePlant(selectPlant.value)">
          <option selected>Todos</option>
          <option>Querétaro PET</option>
          <option>Querétaro FT</option>
          <option>Santa Fe</option>
        </select>
      </div>
      <div class="col-4">
        <select class="form-select" id="CostCenterSelect" #selectCostCenter (change)="changeCostCenter(selectCostCenter.value)">
          <option selected>Todos</option>
          <option *ngFor="let costCenter of costCenters">{{costCenter.idCcostos}}-{{costCenter.descripcion}}</option>
        </select>
      </div>
      <div class="col-4">
        <select class="form-select" id="StatusSelect" #selectStatus (change)="changeStatus(selectStatus.value)">
          <option>Todos</option>
          <option selected>Activo</option>
          <option>Inactivo</option>
        </select>
      </div>
    <!--SearchBox-->
    <div class="row">
      <h1></h1>
    </div>
    <div class="row">
      <div class="col-10" >
        <input type="text" class="form-control" placeholder="Escriba un criterio de búsqueda"
               id="divSearchBox" #searchBox (change)="changeFilter(searchBox.value)">
      </div>
       <div class="col-1">
        <button type="button" class="btn" id="btnDownloadExcel">
          <img src="assets/icons/32px/excel_icon.png">
        </button>
      </div>
      <div style="text-align:right; padding: 15px; padding-top:5px">
        <!--button mat-raised-button matTooltip="Añadir" color="primary">
          Añadir Empleado
        </!--button-->
      </div>
      <catalogue-table-employees [employees] = "employees" (onEmitPage)="changePage($event)"></catalogue-table-employees>
    </div>
  </div>
</div>



