#btnRefresh {
  text-align: right;
}

#btnAdd {
  text-align: right;
}

#navBar{
  text-align: left;
}

#navBarRegister{
  text-align: right;
}

#searchBox {
  margin-top: 5px;
}

#lblTitle {
  color: #043474;
}
