<div class="row">
  <div class="col-12" id="lblTitle">
    <h1 id="lblTitle"><b>Reporte General Comedor</b></h1>
    <hr />
    <div class="row">
      <h3>Criterios de busqueda</h3>
    </div>
    <form #generalCafeteriaReportForm="ngForm">
      <div class="row mb-3">
        <div class="col-3">
          <label class="label">Fecha Inicial</label>
          <input type="date" name="fechaInicial" class="form-control"
                 placeholder="Fecha Inicial" [(ngModel)]="fechaInicial" required>
        </div>
        <div class="col-3">
          <label class="label">Fecha Final</label>
          <input type="date" name="fechaFinal" class="form-control"
                 placeholder="Fecha Final" [(ngModel)]="fechaFinal"
                 required>
        </div>
        <div class="col-3">
          <label class="label">Tipo Personal</label>
          <select class="form-select" [(ngModel)]="selectedTipoPersonal"
                  name="tipoPersonalSelect">
            <option value = 0>Selecciona el tipo de personal</option>
            <option value = 1>Empleado</option>
            <option value = 2>Contratista</option>
            <option value = 3>Visitante</option>
          </select>
        </div>
        <div class="col-3">
          <label class="label">Sitio</label>
          <select class="form-select" [(ngModel)]="selectedSitio"
                  aria-label="Planta select" name="sitioSelect">
            <option value = 0>Selecciona el sitio</option>
            <option *ngFor="let planta of plantas"
                    [value]="planta.idPlanta">{{planta.descripcion}}</option>
          </select>
        </div>
      </div>
    </form>
    <hr />
    <div class="row mb-4">
      <div class="col-6">
        <button mat-raised-button matTooltip="Buscar"
                color="primary" type="submit"
                [disabled]="generalCafeteriaReportForm.invalid"
                (click)="onSubmit(generalCafeteriaReportForm)"
                >
          Buscar
        </button>&nbsp;
        <button mat-raised-button matTooltip="Limpiar"
                color="primary"
                (click)="limpiarFormulario(generalCafeteriaReportForm)">
          Limpiar
        </button>
      </div>
      <div class="col-6" style="text-align:right;">
        <button mat-raised-button [matMenuTriggerFor]="menu"
                [disabled]="generalCafeteriaReportForm.invalid || reportGeneralCafeteria.length === 0">
          <img src="assets/icons/16px/edit_icon.png">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="icon-btn" (click)="downloadDocument('pdf')">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;PDF
          </button>
          <button mat-menu-item class="icon-btn" (click)="downloadDocument('excel')">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;EXCEL
          </button>
        </mat-menu>
      </div>
    </div>
    <reports-table-general-cafeteria-report [reportGeneralCafeteria] = "reportGeneralCafeteria"
                                            [reportLoading]          = "reportLoading"
                                            [reportLoaded]           = "reportLoaded">
    </reports-table-general-cafeteria-report>
  </div>
</div>
