<div class="example-container mat-elevation-z8">
  <div class="example-table-container" >
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container" >
        <table mat-table [dataSource]="datasource" class="example-table" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
              <strong>
                {{ column }}
              </strong>
            </th>
            @if (column != 'Editar')
            {
              <td mat-cell *matCellDef="let row" class="align-columns">
                {{ row[dbColumns[columns.indexOf(column)]] }}
              </td>
            }
            @else
            {
              <td mat-cell *matCellDef="let row" class="align-columns">
                <button mat-icon-button color="primary" matTooltip="Editar visitante"
                        matTooltipPosition="below" (click)="editVisitor(row[dbColumns[columns.indexOf('ID del visitante')]])">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            }
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[10,50,100]" class="paginator-sticky"
    aria-label="Select page of users" (page)="changeNumberOfRegisters($event)"></mat-paginator>
</div>

