<div class="row">
  <div class="col-12" id="lblTitle">
    <h1 id="lblTitle"><b>Reporte Comidas por Turno</b></h1>
    <hr />
    <div class="row">
      <h3>Criterios de búsqueda</h3>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label class="label">Fecha Inicial</label>
        <input type="date" name="FechaInicial" class="form-control" placeholder="Fecha Inicial" required [(ngModel)]="startDate">
      </div>
      <div class="col-3">
        <label class="label">Fecha Final</label>
        <input type="date" name="FechaFinal" class="form-control" placeholder="Fecha Final" required [(ngModel)]="endDate">
      </div>
      <div class="col-3">
        <label class="label">Sitio</label>
        <select class="form-select" id="siteSelect" #selectSite [(ngModel)]="site">
          <option value="Todas"selected>Todas</option>
          <option value="QUERÉTARO PET" >QUERÉTARO PET</option>
          <option value="QUERÉTARO FT">QUERÉTARO FT</option>
          <option value="SANTA FE">SANTA FE</option>
        </select>
      </div>
    </div>
    <hr />
    <div class="row mb-4">
      <div class="col-6">
        <button mat-raised-button matTooltip="Buscar" color="primary" [disabled]="disblesearch()" (click)="searchComidaT(selectSite.value)">
          Buscar
        </button>&nbsp;
        <button mat-raised-button matTooltip="Limpiar" color="primary" (click)="cleanInputs()">
          Limpiar
        </button>
      </div>
      <div class="col-6" style="text-align:right;">
        <button mat-raised-button [matMenuTriggerFor]="menu" [disabled]="isTableEmpty">
          <img src="assets/icons/16px/edit_icon.png">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="icon-btn" (click)="downloadPDF()">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;PDF
          </button>
          <button mat-menu-item (click)="downloadExcel()">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;EXCEL
          </button>
        </mat-menu>
      </div>
    </div>

    <app-table-comidas-report [comedorReport]="comidasReport"></app-table-comidas-report>

    <!-- Loading Spinner -->
    <div *ngIf="loading" class="loading-overlay">
      <div class="spinner"></div>
    </div>
  </div>
</div>
