<div class="formcontainer">
  <div class="formulario" >
    <h1>Credencial Empleados {{ tipoCredencial }}</h1>
    <form [formGroup]="empleadoForm">
    <div style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label style="font-size: 12px;">Numero de empleado</mat-label>
        <input matInput formControlName="identificador" style="font-size: 12px;"  maxlength="10">
        <button mat-icon-button matSuffix 
        (click)="getEmployee()">
          <mat-icon>search</mat-icon>
        </button>
        <mat-error *ngIf="empleadoForm.controls.identificador?.invalid">{{getControlError(empleadoForm.controls.identificador)}}</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label style="font-size: 12px;">{{ leyendaGafete }}</mat-label>
        <input matInput formControlName="numeroGafete"  style="font-size: 12px;" maxlength="7">
        <mat-error *ngIf="empleadoForm.controls.numeroGafete?.invalid">{{getControlError(empleadoForm.controls.numeroGafete)}}</mat-error>
      </mat-form-field>
      
      <mat-form-field>
        <mat-label style="font-size: 12px;">Nombre</mat-label>
        <input matInput formControlName="nombre" style="font-size: 12px;">
      </mat-form-field>
  
      <mat-checkbox formControlName="isCredentialHabilited" style="font-size: 12px;">
        Gafete Habilitado
      </mat-checkbox>

      <mat-form-field *ngIf="tipoCredencial=='Provisional'">
        <mat-label>Vigencia</mat-label>
        <input matInput formControlName="fechaVigencia" [matDatepicker]="dp2" readonly>
        <mat-datepicker-toggle matIconSuffix [for]="dp2" disabled></mat-datepicker-toggle>
        <mat-datepicker #dp2></mat-datepicker>
      </mat-form-field>

      <br>
      <div class="botones" >
        <button mat-raised-button (click)="onSubmit()" id="btnGuardar" [disabled]="btnGuardarDisabled">Guardar</button>
        <button mat-raised-button (click)="descargar()" id="exportar" [disabled]="btnDescargarDisabled">Descargar PDF</button>
      </div>
    </div>
  </form>
  
</div>
<div class="visualizador" >
  <iframe *ngIf="pdfSrc!=''" [src]="pdfSrc" width="100%" height="100%"></iframe>
</div>
</div>