
<div class="example-container mat-elevation-z8">
  <div class="example-table-container" >
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container" >
        <table mat-table [dataSource]="datasource" class="example-table" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
              <strong>
                {{ (column == 'ubicacion'? 'ubicación' : column) | titlecase}}
              </strong>
            </th>
            @if (column != 'editar')
            {
              <td mat-cell *matCellDef="let row" class="align-columns">
                {{column == 'grupo' ? getDescripcionPlanta(row[column]) : row[column]}}
              </td>
            }
            @else
            {
              <td mat-cell *matCellDef="let row" class="align-columns">
                <button mat-icon-button color="primary" matTooltip="Editar Permisos" matTooltipPosition="below" (click)="goToRoute('catalogues/terminalDetails', row['idTerminales'])">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            }
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10]" class="paginator-sticky" aria-label="Select page of terminals"></mat-paginator>
</div>

