<div class="row">
  <div class="col" id="lblTitle">
    <h1 id="lblTitle"><b>{{title}}</b></h1>
    <hr class="mb-4"/>
  </div>
</div>
<div class="row">
  <catalogue-form-details-terminal
      [idTerminal]="idTerminal"
  ></catalogue-form-details-terminal>
</div>
