<!-- <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Número de empleado</th>
        <th scope="col">Estatus</th>
        <th scope="col">Nombre</th>
        <th scope="col">Centro de costos</th>
        <th scope="col">Tipo de nómina</th>
        <th scope="col">Nómina procesada</th>
        <th scope="col">Gafete</th>
        <th scope="col">Gafete provisional</th>
        <th scope="col">Planta</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody *ngFor="let employee of employees.response">
      <tr>
        <th scope="row">{{employee.numEmpleado}}</th>
        <td *ngIf="employee.idEstatus === 1">ACTIVO</td>
        <td *ngIf="employee.idEstatus === 2">INACTIVO</td>
        <td>{{employee.nombre}} {{employee.apePaterno}} {{employee.apeMaterno}}</td>
        <td>{{employee.idCcostos}}</td>
        <td>{{employee.idTipoNomina}}</td>
        <td>{{employee.nominaProcesada}}</td>
        <td>{{employee.idGafete}}</td>
        <td>{{employee.numeroProvisionalGafete}}</td>
        <td>{{employee.idPlanta}}</td>
        <td>
          <button class="btn btn-white" data-toggle="tooltip"
                  data-placement="left" title="Editar empleado"
                  (click)="editEmployee(employee.idEmpleado)">
            <img src="assets/icons/16px/edit_icon.png"/>
          </button>
        </td>
      </tr>
    </tbody>
  </table> -->
<div class="example-container mat-elevation-z8">
  <div class="example-table-container" >
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container" >
        <table mat-table [dataSource]="datasource" class="example-table" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
              <strong>
                {{ column }}
              </strong>
            </th>
            @if (column != 'Editar' && column != 'Estatus')
            {
              <td mat-cell *matCellDef="let row" class="align-columns">
                {{ column != 'Nombre' ? row[dbColumns[columns.indexOf(column)]]
                                      : row['nombre'] + ' ' + row['apePaterno'] + ' ' + row['apeMaterno']
                }}
              </td>
            }
            @else
            {
              @if(column == 'Editar')
              {
                <td mat-cell *matCellDef="let row" class="align-columns">
                  <button mat-icon-button color="primary" matTooltip="Editar Empleado" matTooltipPosition="below" (click)="editEmployee(row[dbColumns[columns.indexOf('ID')]])">
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
              }
              @else
              {
                <td mat-cell *matCellDef="let row" class="align-columns">
                  {{ row[dbColumns[columns.indexOf(column)]] == 1 ? 'ACTIVO' : 'INACTIVO' }}
                </td>
              }
            }
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" class="paginator-sticky"
                 aria-label="Select page of users" (page)="changeNumberOfRegisters($event)"></mat-paginator>
</div>
