<div class="row">
  <form>
    <div class="row">
      <h3>Información general</h3>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <label>Nombre</label>
            <input type="text" name="name"
                 class="form-control " placeholder="Nombre"
                 value="{{visitor.nombreVisitante}}"
                 [(ngModel)]="visitor.nombreVisitante">
          </div>
          <div class="col-6">
            <label>Fecha de ingreso</label>
            <input type="text" name="incomeDate"
                 class="form-control " placeholder="Fecha de ingreso"
                 value="{{visitor.fechaIngresoF}}"
                 [(ngModel)]="visitor.fechaIngresoF">
            <!--mat-form-field>
              <mat-label>Choose a date</!--mat-label-->
              <!--input matInput [matDatepicker]="picker"
                     name="incomeDate"
                     value="{{visitor.fechaIngresoF}}"
                     [(ngModel)]="visitor.fechaIngresoF">
              <mat-hint>DD/MM/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field-->
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>RFC</label>
            <input type="text" name="rfc"
                 class="form-control " placeholder="RFC"
                 value="{{visitor.rfc}}"
                 [(ngModel)]="visitor.rfc">
          </div>
          <div class="col-6">
            <label>Empresa de origen</label>
            <input type="text" name="enterprise"
                 class="form-control " placeholder="Empresa del visitante"
                 value="{{visitor.descOrigen}}"
                 [(ngModel)]="visitor.descOrigen">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Horas dentro de la empresa</label>
            <input type="text" name="hoursIntoEnterprise"
                 class="form-control " placeholder="Horas dentro de la empresa"
                 value="{{visitor.horas}}"
                 [(ngModel)]="visitor.horas">
          </div>
          <div class="col-6">
            <label>Empleado responsable</label>
            <div class="input-group mb-3">
              <input type="text" name="responsibleEmployee"
                 class="form-control " placeholder="Empleado responsable"
                 value="{{visitor.empResponsable}}"
                 [(ngModel)]="visitor.empResponsable">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-4">
          <label>Estatus</label>
            <select class="form-select" #selectStatus (change)="changeStatus(selectStatus.value)">
              <option *ngIf="visitor.idEstatus == 1" selected>Activo</option>
              <option *ngIf="visitor.idEstatus == 1">Inactivo</option>
              <option *ngIf="visitor.idEstatus == 2">Activo</option>
              <option *ngIf="visitor.idEstatus == 2" selected>Inactivo</option>
              <option *ngIf="visitor.idEstatus == 0">Activo</option>
              <option *ngIf="visitor.idEstatus == 0">Inactivo</option>
          </select>
        </div>
        <div class="col-4">
          <label>Número de gafete provisional</label>
          <input type="text" name="numberProvitionalCard"
                 class="form-control " placeholder="Gafete provisional"
                 value="{{visitor.idGafete}}"
                 [(ngModel)]="visitor.idGafete">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Centro de costos</label>
          <input type="text" name="costCenter"
                 class="form-control " placeholder="Centro de costos"
                 value="{{visitor.idCcostos}}"
                 [(ngModel)]="visitor.idCcostos">
        </div>
        <div class="col-4">
          <label>¿Derecho a comedor?</label>
          <input type="text" name="enableDiningRoom"
                 class="form-control" placeholder="¿Derecho a comedor?"
                 value="{{visitor.idComedor}}"
                 [(ngModel)]="visitor.idComedor">
        </div>
      </div>
    </div>
  </form>
  <h1></h1>
  <div class="row">
    <div class="col" id="divButtons">
      <button class="btn btn-primary w-25" id="btnSave" (click)="saveVisitor()">Guardar</button>
      <button class="btn btn-danger w-25" id="btnCancel" (click)="goToRoute('catalogues/visitors')">Cancelar</button>
    </div>
  </div>
</div>
