<div #modal class="modal fade" id="modal-validacion" data-bs-backdrop="static">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <div class="modal-body">
             <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: rgb(223, 57, 57);"><path d="M12.884 2.532c-.346-.654-1.422-.654-1.768 0l-9 17A.999.999 0 0 0 3 21h18a.998.998 0 0 0 .883-1.467L12.884 2.532zM13 18h-2v-2h2v2zm-2-4V9h2l.001 5H11z"></path></svg>
              <p>{{this.message}}</p>
              <hr>
              <button class="btn btn-danger"  data-bs-dismiss="modal" >Aceptar</button>
          </div>
      </div>
  </div>
</div>
