<!--div class="container" style="height:100%; width: 100%;padding: .3%;"-->

  <div class="border border-dark" style="padding: .3%;">
  <form id="formLogin" (ngSubmit)="validateUser()">
    <div class="col-12 lbl-Welcome border border-dark" >
      <h3>Iniciar sesión</h3>
    </div>
    <h5>Usuario</h5>
    <input
      type="text"
      name="user"
      class="form-control "
      placeholder="admin"
      [(ngModel)]="user.usuario1">
    <h5>Contraseña</h5>
    <input
      type="password"
      name="password"
      class="form-control mb-2"
      placeholder="***********"
      [(ngModel)]="user.password">
    <button
      type="submit"
      class="btn btn-primary w-50 mx-auto d-block"
      id="btnEnter"
      > Entrar </button>
  </form>
  <app-modal-login></app-modal-login>
</div>
<!--/div-->
