<div class="row">
    <div class="col-1">
      <app-shared-sidebar></app-shared-sidebar>
    </div>
    <div class="col-10">
      <shared-login-menu></shared-login-menu>
      <router-outlet></router-outlet>
    </div>
</div>

