<div class="row">
  <form>
    <div class="row">
      <h3>Información general</h3>
      <div class="col-8">
        <div class="row">
          <div class="col-6">
            <label>Número de empleado</label>
            <input type="text" name="employeeNumber"
                 class="form-control " placeholder="Número de empleado"
                 value="{{employee.numEmpleado}}"
                 [(ngModel)]="employee.numEmpleado">
          </div>
          <div class="col-6">
            <label>Estatus</label>
            <select class="form-select">
              <option *ngIf="employee.idEstatus == 1" selected>Activo</option>
              <option *ngIf="employee.idEstatus == 1">Inactivo</option>
              <option *ngIf="employee.idEstatus == 2">Activo</option>
              <option *ngIf="employee.idEstatus == 2" selected>Inactivo</option>
          </select>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Apellido paterno</label>
            <input type="text" name="lastname1"
                 class="form-control " placeholder="Apellido paterno"
                 value="{{employee.apePaterno}}"
                 [(ngModel)]="employee.apePaterno">
          </div>
          <div class="col-6">
            <label>Apellido materno</label>
            <input type="text" name="lastname2"
                 class="form-control " placeholder="Apellido materno"
                 value="{{employee.apeMaterno}}"
                 [(ngModel)]="employee.apeMaterno">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label>Nombre(s)</label>
            <input type="text" name="name"
                 class="form-control " placeholder="Nombre(s)"
                 value="{{employee.nombre}}"
                 [(ngModel)]="employee.nombre">
          </div>
          <div class="col-6">
            <label>Archivo fotografía</label>
            <div class="input-group mb-3">
              <input type="file" class="form-control" id="inputGroupFile02">
              <!--label class="input-group-text" for="inputGroupFile02">Subir</!--label-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="border">
          <img src="">
        </div>
        <div id="divButtonPhoto">
          <button class="btn btn-primary" id="btnTakePhoto">Tomar foto</button>
        </div>
      </div>
    </div>
    <div class="row">
      <h3>Información de gafete</h3>
      <div class="row">
        <div class="col-4">
          <label>Número de gafete</label>
          <input type="text" name="credentialNumber"
                 class="form-control " placeholder="Número de gafete"
                 value="{{employee.idGafete}}"
                 [(ngModel)]="employee.idGafete">
        </div>
        <div class="col-4">
          <label>Centro de costos</label>
          <input type="text" name="costCenter"
                 class="form-control " placeholder="Centro de costos"
                 value="{{employee.idCcostos}}"
                 [(ngModel)]="employee.idCcostos">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <label>Planta</label>
          <input type="text" name="plant"
                 class="form-control " placeholder="Planta"
                 value="{{employee.idPlanta}}"
                 [(ngModel)]="employee.idPlanta">
        </div>
        <div class="col-4">
          <label>Número de gafete provisional</label>
          <input type="text" name="provitionalCredentialNumber"
                 class="form-control " placeholder="Número de gafete provisional"
                 value="{{employee.numeroProvisionalGafete}}"
                 [(ngModel)]="employee.numeroProvisionalGafete">
        </div>
      </div>
    </div>
  </form>
  <h1></h1>
  <div class="row">
    <div class="col" id="divButtons">
      <button class="btn btn-primary w-25" id="btnSave" (click)="saveEmployee()">Guardar</button>
      <button class="btn btn-danger w-25" id="btnCancel" (click)="goToRoute('catalogues/employees')">Cancelar</button>
    </div>
  </div>
</div>
