#btnSave {
  background: #043474;
  color: white;

}

#btnCancel {
  gap: normal;
  margin-left: 5px;
}

#btnTakePhoto {
  background: #043474;
  color: white;
}

#divButtons {
  text-align: right;
  float: right;
}

#divButtonPhoto {
  text-align: center;
}
