<div class="row">
  <div class="col-12" id="lblTitle">
    <h1 id="lblTitle"><b>Catálogo de usuarios</b></h1>
    <hr/>
    <div class="row">
      <!--<div class="col-10"> </div>
      <div class="col-2">
        <button type="button" class="btn" id="btnAdd" data-toggle="tooltip" data-placement="left" title="Crear usuario"
                (click)="goToRoute('catalogues/userDetails')">
          <img src="assets/icons/32px/addUser-icon.png">
        </button>
      </div>-->
      <div style="text-align:right; padding: 15px; padding-top:5px">
        <button mat-raised-button matTooltip="Añadir" color="primary" (click)="goToRoute('catalogues/userDetails')">
          Añadir Usuario
        </button>
      </div>
      <catalogue-components-table [users] = "users"></catalogue-components-table>
    </div>
  </div>
</div>

