#sidebar {
  /*height: 100%;*/
  width: 100%;
  background: #043474;
}


#logoIndorama {
  margin-top: 20px;
  border: 1px solid #33333362;
  background: white;
  height: 70px;
}

#imgLogo {
  height: 90%;
  width: 100%;
  cursor: pointer;
}

.btnSidebar {
  background: #043474;
  color: white;
  border: 0;
  height: 50px;
  width: 100%;
}

/*Fondo a cada botón*/
.accordion-header  .accordion-button{
  background-color: #043474;
}


.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}


#param .accordion-header .accordion-button::after{
  background-image: none !important;
}

.divAccordion {
  background: #043474;
  color: white;

}

.divAccordion .accordion-button {
  background: #043474;
  color: white;

}

.accordion-collapse .accordion-body .list-group .list-group .btnSidebar{

  text-align: left;
  position:relative;
  padding-left:18px;
}



#accordionSidebar{
  height: 130vh;
}


.accordion-header .btnSidebar{
  /*margin-top: 8%;*/
  color: white;
  font-family: 'helvetica';
  font-weight: bold;
  font-size: 18px;

}

.accordion-header2 .btnSidebar{
  padding-left: 18px;
  color: white;
  font-family: 'helvetica';

}


.btnSidebar{
  color: white;
  font-family: 'helvetica';
  padding-left: 20px;
}

.btnSidebar:hover{
  color: white;
  background-color: #457ac060;
}

.accordion-header:hover .btnSidebar{
  padding: 15px;
  color: white;
  background-color: #457ac060;
}

.divAccordion .accordion-button .divAccordion {
  background: #043474;
  color: white;

}

.accordion-header .collapse .btnSidebar{
  background: #043474;
  color: white;

}
