<div class="border-right pt-7" id="sidebar">
  <div id="logoIndorama">
      <a (click)="goToRoute('home')">
        <img src="assets/logos/Indorama_logo.png" class="mx-auto d-block" id="imgLogo">
      </a>
  </div>
  <div class="accordion accordion-flush" id="accordionSidebar">
      <div>
          <h2 class="accordion-header" >
              <button class="accordion-button collapsed btnSidebar" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapseCatalogues" aria-expanded="true"
                  aria-controls="collapseCatalogues">Catálogos
              </button>
          </h2>
          <div id="collapseCatalogues" class="accordion-collapse collapse divAccordion"
              data-bs-parent="#accordionSidebar">
              <div class="accordion-body">
                  <div class="list-group">
                      <ul class="list-group">
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('catalogues/contractors')"
                              *ngIf="checkPermission('Catálogo de Contratistas', 'VER')">Contratistas</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('catalogues/employees')"
                              *ngIf="checkPermission('Catálogo de Empleados', 'VER')">Empleados</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('profiles/main')"
                              *ngIf="true">Perfiles</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('catalogues/terminals')"
                              *ngIf="checkPermission('Catálogo de Terminales', 'VER')">Terminales</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('catalogues/users')"
                              *ngIf="checkPermission('Catálogo de Usuarios', 'VER')">Usuarios</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('catalogues/visitors')"
                              *ngIf="checkPermission('Catálogo de Visitantes', 'VER')">Visitantes</button>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <div>
          <h2 class="accordion-header">
              <button class="accordion-button collapsed btnSidebar" type="button"
                  data-bs-toggle="collapse" data-bs-target="#collapseReports" aria-expanded="false"
                  aria-controls="collapseReports">Reportes
              </button>
          </h2>
          <div id="collapseReports" class="accordion-collapse collapse divAccordion"
              data-bs-parent="#accordionSidebar">
              <div class="accordion-body">
                  <div class="list-group">
                      <ul class="list-group">
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('reports/contractors')"
                              *ngIf="true">Contratistas</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('reports/employees')"
                              *ngIf="true">Empleados</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('reports/general-cafeteria')"
                              *ngIf="true">General Comedor</button>
                          <button type="button" class="btnSidebar"
                              (click)="goToRoute('reports/no-comidas')"
                              *ngIf="true">No. comidas por turnos</button>
                      </ul>
                  </div>
              </div>
          </div>
      </div>

      <div>
          <h2 class="accordion-header">
              <button class="accordion-button collapsed btnSidebar" type="button"
              data-bs-toggle="collapse" data-bs-target="#collapseCredentials" aria-expanded="false"
              aria-controls="collapseCredentials">Credenciales</button>
          </h2>

          <div id="collapseCredentials" class="accordion-collapse collapse divAccordion"
          data-bs-parent="#accordionSidebar">
          <div class="accordion-body">

                  <h2 class="accordion-header2">
                  <button type="button" class="accordion-button collapsed btnSidebar"
                      data-bs-toggle="collapse" data-bs-target="#collapseEmitCredentials"
                      aria-expanded="true" aria-controls="collapseEmitCredentials">Emitir credencial</button>
                  </h2>

                  <div id="collapseEmitCredentials" class="accordion-collapse collapse divAccordion"
                  data-bs-parent="#accordionEmitCredentials">
              <div class="accordion-body">
                  <div class="list-group">
                      <ul class="list-group">

                          <button type="button" class="accordion-button collapsed btnSidebar"
                          data-bs-toggle="collapse" data-bs-target="#collapseEmitCredentialEmployees"
                          aria-expanded="true" aria-controls="collapseEmitCredentialEmployees">Empleado</button>

                          <div id="collapseEmitCredentialEmployees" class="accordion-collapse collapse divAccordion"
                          data-bs-parent="#accordionEmitCredentialsEmployees">
                          <div class="accordion-body">

                                  <button type="button" class="btnSidebar"
                                  (click)="goToRoute('credentials/employee/permanent')"
                                  *ngIf="checkPermission('Empleados Permanentes', 'VER')"
                                  >Permanente</button>
                                  <button type="button" class="btnSidebar"
                                  *ngIf="checkPermission('Empleados Provisional', 'VER')"
                                  (click)="goToRoute('credentials/employee/provisional')">Provisional</button>

                          </div>
                      </div>

                          <button type="button" class="accordion-button collapsed btnSidebar"
                          data-bs-toggle="collapse" data-bs-target="#collapseEmitCredentialContratist"
                          aria-expanded="true" aria-controls="collapseEmitCredentialContratist">Contratista</button>


                          <div id="collapseEmitCredentialContratist" class="accordion-collapse collapse divAccordion"
                          data-bs-parent="#accordionEmitCredentialContratist">
                          <div class="accordion-body">

                                  <button type="button" class="accordion-button collapsed btnSidebar"
                                  data-bs-toggle="collapse" data-bs-target="#collapseResident"
                                  aria-expanded="true" aria-controls="collapseResident">Residente</button>

                                  <div id="collapseResident" class="accordion-collapse collapse divAccordion"
                                  data-bs-parent="#accordionResident">
                                  <div class="accordion-body">
                                      <button type="button" class="btnSidebar"
                                      *ngIf="checkPermission('Contratistas Permanentes', 'VER')"
                                      (click)="goToRoute('credentials/contractor/permanent')"
                                      >Permanente</button>
                                      <button type="button" class="btnSidebar"
                                      *ngIf="checkPermission('Contratistas Provisional', 'VER')"
                                      (click)="goToRoute('credentials/contractor/provisional')"
                                      >Provisional</button>
                                  </div>
                               </div>

                                  <button type="button" class="accordion-button collapsed btnSidebar"
                                  data-bs-toggle="collapse" data-bs-target="#collapseShortTerm"
                                  aria-expanded="true" aria-controls="collapseShortTerm">Corto plazo</button>

                                  <div id="collapseShortTerm" class="accordion-collapse collapse divAccordion"
                                  data-bs-parent="#accordionShortTerm">
                                  <div class="accordion-body">
                                      <button type="button" class="btnSidebar"
                                      *ngIf="checkPermission('Contratistas Corto Plazo Mayor', 'VER')"
                                      (click)="goToRoute('credentials/contractor/longerTerm')">Mayor</button>
                                      <button type="button" class="btnSidebar"
                                      *ngIf="checkPermission('Contratistas Corto Plazo Menor', 'VER')"
                                      (click)="goToRoute('credentials/contractor/shorterTerm')">Menor</button>
                                  </div>
                               </div>

                          </div>
                      </div>
                          <button type="button" class="btnSidebar"
                          (click)="goToRoute('credentials/visitors')"
                          *ngIf="checkPermission('Visitantes', 'VER')">Visitante</button>
                      </ul>
                  </div>
              </div>
          </div>
          </div>
          </div>
      </div>

      <div id="param">
         <h3 class="accordion-header">
          <button class="accordion-button collapsed btnSidebar" type="button"
              (click)="goToRoute('parameters/parameters')"
              *ngIf="true">Parametrizaciones
          </button>
      </h3>
      </div>

  </div>

</div>
