<div class="row">
  <div class="col-12" id="lblTitle">
    <h1><b>Parametrizaciones</b></h1>
    <hr>
    <div class="row">
      <div class="col-9"> </div>
      <parameters-table [parameters]="parameters"
      (onEditParameters)="onEditParameter($event)"></parameters-table>
    </div>
  </div>
</div>

