#lblTitle {
  color: #043474;
}

.excel{
  background-color: rgb(40, 95, 40) !important;
}
#buttonSearch {
  background-color: #3F51B5;
}

#buttonSearch.btn-primary:hover {
  background-color: rgb(86, 103, 196);
  color: white;
}

.icon-search{
  font-size: 21px;
}
