<div class="row">
  <div class="col-12" id="lblTitle">
    <h1 id="lblTitle"><b>Catálogo de contratistas</b></h1>
    <hr/>
    <div class="row">
      <h3>Criterios de busqueda</h3>
    </div>
    <div class="row">
      <div class="col-3">
        <select class="form-select" id="StatusSelect"
                [(ngModel)]="idEstatus" #selectStatusForm>
          <option value = "">Todos</option>
          <option value = "1">Activo</option>
          <option value = "2">Inactivo</option>
        </select>
      </div>
    </div>
    <div class="row mt-3 mb-4">
      <div class="col-3">
        <select class="form-select" id="StatusSelect"
                [(ngModel)]="idTipoContratista" #selectStatusForm>
          <option value = "">Tipo de Contratista</option>
          <option value = "1">Corto plazo</option>
          <option value = "2">Residente</option>
        </select>
      </div>
      <div class="col-3">
        <input type="text"
               class="form-control"
               placeholder="Empresa contratista"
               id="empresaContratista"
               [(ngModel)]="empresa"
               #empresaContratistaForm>
      </div>
      <div class="col-3">
        <input type="text"
               class="form-control"
               placeholder="Centro de costos"
               id="centroCostos"
               [(ngModel)]="cCostos"
               #centroCostosForm>
      </div>
      <div class="col-3">
        <input type="text"
               class="form-control"
               placeholder="Clasificación"
               id="clasificacion"
               [(ngModel)]="clasificacion"
               #clasificacionForm>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="row mb-2">
        <div class="col-7">
          <div class="input-group mt-1">
            <input type="text" class="form-control" placeholder="Escriba un criterio de búsqueda"
                   id="divSearchBox" [(ngModel)]="filtro" #searchBox>
            <button class="btn btn-primary" type="button" id="buttonSearch" (click)="onSearch()">
              <i class="material-icons icon-search">search</i>
            </button>
          </div>
        </div>
        <div style="text-align:right; padding: 15px; padding-top:5px; padding-right: 0px;" class="col">
          <button mat-raised-button color="primary" class="button small-button" (click)="refresh()">
            <i class="material-icons">refresh</i>
          </button>&nbsp;
          <button mat-raised-button color="primary" class="button small-button excel">
            <img src="assets/icons/32px/excel_icon.png">
          </button>
        </div>
      </div>
      <catalogue-table-contractors [contractors] = "contractors" (onEmitPage)="changePage($event)"></catalogue-table-contractors>
    </div>
  </div>
</div>
