    <h2 mat-dialog-title style="text-align: center;" >
        Mensaje
    </h2>
    <div mat-dialog-content>
        <hr>
        <p style="text-align: center;">{{ data.message }}</p>
        <hr>
    </div>
    <div mat-dialog-actions class="buttons">
        <button  mat-raised-button color="primary" mat-dialog-close>Aceptar</button>
    </div>
