.buttons{
    display: flex; 
    width:100%;
    justify-content: center;
}
.mat-card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mat-card-header-text {
    justify-content: center;
}
