.modal .modal-dialog{
  width:350px;
}

.modal-body{
  text-align: center;
  font-size: 16px;
  font-family:  arial;
  color: rgb(209, 42, 42);
  background-color: rgb(218, 184, 184);
}

.modal-body p{
  padding-top: 20px;
}

.modal-body hr{
  margin-top: 40px;
  color: black;
}
