<div class="row">
  <form #contractorForm="ngForm" (ngSubmit)="onSubmit(contractorForm)">
    <div class="row info">
      <div class="col-6">
        <div class="row mb-4">
          <div class="col-6">
            <label class="label">Tipo de contratista</label>
            <select class="form-select"  aria-label="Tipo contratista"
                    name="tipoSelect" [(ngModel)]="selectedTipo"
                    (change)="onSelectChange($event)" required>
              <option value="">Selecciona el tipo de contratista</option>
              <option value=1>Corto plazo</option>
              <option value=2>Residente</option>
            </select>
          </div>
          <div class="col-6">
            <label class="label">Estatus</label>
            <select class="form-select"  aria-label="Estatus contratista"
                    name="estatusSelect" [(ngModel)]="selectedEstatus"
                    (change)="onSelectChange($event)" required>
              <option value="">Selecciona el estatus del contratista</option>
              <option value=1>Activo</option>
              <option value=2>Inactivo</option>
            </select>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-6">
            <label class="label">Nombre</label>
            <input
              type="text"
              name="Nombre Contratista"
              class="form-control"
              placeholder="Nombre del contratista"
              maxlength="100"
              [(ngModel)]="contractor.nombreContratista"
              required>
          </div>
          <div class="col-6">
            <label class="label">Apellido Paterno</label>
            <input
              type="text"
              name="Apellido Paterno Contratista"
              class="form-control"
              placeholder="Apellido paterno del contratista"
              maxlength="100"
              [(ngModel)]="contractor.apPaterno"
              required>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-6">
            <label class="label">Apellido Materno</label>
            <input
              type="text"
              name="Apellido Materno Contratista"
              class="form-control"
              placeholder="Apellido materno del contratista"
              maxlength="100"
              [(ngModel)]="contractor.apMaterno"
              required>
          </div>
          <div class="col-6">
            <label class="label">Fecha Inducción</label>
            <input
              type="date"
              name="FechaInduccion"
              class="form-control"
              placeholder="Fecha de Inducción"
              [(ngModel)]="fechaIndSeguridad"
              (change)="onDateChange($event)"
              required>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-6">
            <label class="label">Fecha Inicio Contrato</label>
            <input
              type="date"
              name="FechaContrato"
              class="form-control"
              placeholder="Fecha de Inicio de Contrato"
              [(ngModel)]="fechaContrato"
              (change)="onDateChange($event)"
              required>
          </div>
          <div class="col-6">
            <label class="label">Archivo Foto</label>
            <input
              type="text"
              name="Foto"
              class="form-control"
              placeholder="Sin foto de contratista"
              [(ngModel)]="contractor.foto"
              disabled>
          </div>
        </div>
      </div>
      <div class="col"></div>
      <div class="col-5">
        <div class="row">
          <img src="https://www.shutterstock.com/image-photo/construction-worker-engineer-studio-portrait-600nw-2275882599.jpg"
              alt="imagen de contratista"
              class="rounded float-left"
              style="width:220px; height: 220px;">
        </div>
        <div class="row mt-3" style="width:200px; margin: 0px;">
          <button type="button" class="btn btn-primary btnBlue icon-btn">
            <i class="material-icons">photo_camera</i>&nbsp;&nbsp;
            Foto
          </button>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row info-general">
      <h2>Información General</h2>
      <div class="row mt-2 mb-4">
        <div class="col-3">
          <label class="label">Número IMSS</label>
          <input
            type="text"
            name="Numero IMSS"
            class="form-control"
            placeholder="Número de IMSS del contratista"
            maxlength="15"
            [(ngModel)]="contractor.imss"
            required>
        </div>
        <div class="col-3">
          <label class="label">RFC</label>
          <input
            type="text"
            name="RFC"
            class="form-control"
            placeholder="RFC del contratista"
            maxlength="15"
            [(ngModel)]="contractor.rfc"
            required>
        </div>
        <div class="col-3">
          <label class="label">Vigencia IMSS</label>
          <input
            type="date"
            name="VigenciaIMSS"
            class="form-control"
            placeholder="Vigencia IMSS"
            [(ngModel)]="fechaVigenciaImss"
            (change)="onDateChange($event)"
            required>
        </div>
        <div class="col-3">
          <label class="label">Terminación contrato</label>
          <input
            type="date"
            name="TerminacionContrato"
            class="form-control"
            placeholder="Terminación del contrato"
            [(ngModel)]="fechaTerminacion"
            (change)="onDateChange($event)"
            required>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-3">
          <label class="label">Responsable Indorama</label>
          <input
            type="text"
            name="Responsable INDORAMA"
            class="form-control"
            placeholder="Responsable de Indorama"
            maxlength="100"
            [(ngModel)]="contractor.responsableIndorama"
            required>
        </div>
        <div class="col-3">
          <label class="label">Clasificación</label>
          <select class="form-select"  aria-label="Clasificación"
                  name="clasificacionSelect" [(ngModel)]="selectedClasificacion"
                  (change)="onSelectChange($event)" required>
            <option value="">Selecciona la clasificación</option>
            <option *ngFor="let clasification of clasifications"
                    [value]="clasification.idClasificacion">
                    {{clasification.clasificacion1}} - {{clasification.descripcion}}
            </option>
          </select>
        </div>
        <div class="col-3">
          <label class="label">Nombre Clasificación</label>
          <input
            type="text"
            name="Nombre clasificacion"
            class="form-control"
            placeholder="Nombre de clasificación"
            maxlength="100"
            [(ngModel)]="nombreClasificacion"
            disabled
            required>
        </div>
        <div class="col-3">
          <label class="label">Empresa Contratista</label>
          <input
            type="text"
            name="Empresa contratista"
            class="form-control"
            placeholder="Empresa Contratista"
            maxlength="100"
            [(ngModel)]="contractor.nombreCompania"
            required>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-3">
          <label class="label">Número de contrato</label>
          <input
            type="text"
            name="Numero de contrato"
            class="form-control"
            placeholder="Número de contrato"
            maxlength="15"
            [(ngModel)]="contractor.numeroContrato"
            required>
        </div>
        <div class="col-3">
          <label class="label">Número de Gafete</label>
          <input
            type="text"
            name="Numero gafete"
            class="form-control"
            placeholder="Número de gafete"
            maxlength="15"
            [(ngModel)]="contractor.idGafete"
            required>
        </div>
        <div class="col-3">
          <label class="label">Comedor</label>
          <select class="form-select"  aria-label="Comedor"
                  name="comedorSelect" [(ngModel)]="selectedComedor"
                  (change)="onSelectChange($event)" required>
            <option value="">Selecciona opción de comedor</option>
            <option value=1>Sí</option>
            <option value=2>No</option>
          </select>
        </div>
        <div class="col-3">
          <label class="label">Centro de costos</label>
          <select class="form-select"  aria-label="Centro de Costos"
                  name="centroCostosSelect" [(ngModel)]="contractor.idCcostos"
                  (change)="onSelectChange($event)" required>
            <option value="">Selecciona el centro de costos</option>
            <option *ngFor="let ccosto of cCostos"
                    [value]="ccosto.idCcostos">
                    {{ccosto.ccostos}} - {{ccosto.descripcion}}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="row mt-5 mb-5">
      <div class="col" id="divButtons">
        <button class="btn btn-primary w-25 btnBlue" type="submit" [disabled]="contractorForm.invalid"
                data-placement="left" title="submit">
          Guardar
        </button>
        <button class="btn btn-danger w-25"  id="btnCancel" (click)="goToRoute('catalogues/contractors')">Cancelar</button>
      </div>
    </div>
    <catalogue-modal-info [titulo]="tituloModal" [mensaje]="mensajeModal" [redirect]="redirectModal"></catalogue-modal-info>
  </form>
</div>
