#btnSave {
  background: #3F51B5;
  color: white;
}

#btnCancel {
  gap: normal;
  margin-left: 5px;
  background:#F44336;
}

#divButtons {
  text-align: right;
  float: right;
}

.btnBlue{
  background: #3F51B5;
  color: white;
}

.label{
  font-size: 15px;
  margin-bottom: 6px;
}

.btnDatepicker{
  background-color: rgb(240, 240, 243);
}

.material-icons{
font-size: 17px;
}

.icon-btn {
  display: flex;
  align-items: center;
}
