<div class="row">
  <div class="col" id="lblTitle">
    <h1> <b>{{title}}</b></h1>
    <hr>
  </div>
</div>
<div class="row">
  <catalogue-form-details-visitor
   [visitor]="visitor"
   (onEmitVisitor)="saveVisitor($event)"></catalogue-form-details-visitor>
</div>
