<div class="row">
  <div class="col-12">
    <h1 id="lblTitle"><b>Catálogo de terminales</b></h1>
    <hr/>
    <div class="row">
      <div style="text-align:right; padding: 15px; padding-top:5px">
        <button mat-raised-button matTooltip="Añadir" color="primary" (click)="goToRoute('catalogues/terminalDetails')">
          Añadir Terminal
        </button>
      </div>
      <catalogue-table-terminals [terminals] = "terminals"></catalogue-table-terminals>
    </div>
  </div>
</div>
