<div class="row">
  <div class="col-12" id="lblTitle">
    <h1 id="lblTitle"><b>Reporte de empleados</b></h1>
    <hr />
    <div class="row">
      <h3>Criterios de busqueda</h3>
    </div>
    <div class="row mb-3">
      <div class="col-3">
        <label class="label">Fecha Inicial</label>
        <input type="date" name="FechaInicial"
               class="form-control" placeholder="Fecha Inicial" required
               [(ngModel)]="startDate" value="{{startDate}}">
      </div>
      <div class="col-3">
        <label class="label">Fecha Final</label>
        <input type="date" name="FechaFinal"
               class="form-control" placeholder="Fecha Final" required
               [(ngModel)]="endDate" value="{{endDate}}">
      </div>
      <div class="col-3">
        <label class="label">Sitio</label>
        <select class="form-select" id="siteSelect" #selectSite>
          <option value="0" selected>Todos</option>
          <option value="1">Querétaro PET</option>
          <option value="3">Querétaro FT</option>
          <option value="2">Santa Fe</option>
        </select>
      </div>
      <div class="col-3">
        <label class="label">Nombre/Número de empleado</label>
        <input type="text" class="form-control" placeholder="Nombre o número" id="nombreNumeroEmpleado"
          #nombreNumeroEmpleadoForm
          [(ngModel)]="keyword" value="{{keyword}}">
      </div>
    </div>
    <hr />
    <div class="row mb-4">
      <div class="col-6">
        <button mat-raised-button matTooltip="Buscar" color="primary" (click)="searchEmployees(selectSite.value)">
          Buscar
        </button>&nbsp;
        <button mat-raised-button matTooltip="Limpiar" color="primary" (click)="cleanInputs()">
          Limpiar
        </button>
      </div>
      <div class="col-6" style="text-align:right;">
        <button mat-raised-button [matMenuTriggerFor]="menu">
          <img src="assets/icons/16px/edit_icon.png">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="icon-btn" (click)="downloadPDF(selectSite.value)">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;PDF
          </button>
          <button mat-menu-item (click)="downloadExcel(selectSite.value)">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;EXCEL
          </button>
        </mat-menu>
      </div>
    </div>
    <!--reports-table-contractors-report></!--reports-table-contractors-report-->
    <reports-table-employees-report [employeesReport] = "employeesReport"></reports-table-employees-report>
  </div>
</div>
