<mat-card>
    <mat-card-header>
        <mat-card-title id="lblTitle"><b>Añadir Perfil</b></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="profileForm" class="example-form">
            <mat-form-field class="example-full-width" >
              <mat-label>Clave</mat-label>
              <input matInput type="text" formControlName="clave" placeholder="A123 " maxlength="10">
              <mat-error *ngIf="profileForm.controls.clave?.invalid">{{getControlError(profileForm.controls.clave)}}</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width" >
                <mat-label>Descripción</mat-label>
                <input matInput formControlName="descripcion" placeholder="Gerencia" maxlength="30">
                <mat-error *ngIf="profileForm.controls.descripcion?.invalid">{{getControlError(profileForm.controls.descripcion)}}</mat-error>
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions >
        <form class="buttons" [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
                <button type="submit" mat-raised-button color="primary">Aceptar</button>
                <button style="margin-left: 5vh;" mat-raised-button mat-dialog-close color="warn">Cancelar</button>
        </form>
    </mat-card-actions>
</mat-card>
