.example-form {
    min-width: 150px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  .buttons{
    display: flex;
    width:100%;
    justify-content: center;
  }
  button{
    height: 4vh;
    width: 25vh;
  }

  #lblTitle {
    color: #043474;
  }
