<div class="row">
  <form #terminalForm="ngForm" (ngSubmit)="onSubmit(terminalForm)">
    <div class="row mb-4">
      <div class="col-4">
        <label class="label">Clave</label>
        <input
          type="text"
          name="terminal"
          class="form-control"
          placeholder="Clave de la terminal"
          maxlength="30"
          [(ngModel)]="terminal.clave"
          required>
      </div>
      <div class="col-4">
        <label class="label">Ubicación</label>
        <input
          type="text"
          name="ubicacion"
          class="form-control"
          placeholder="Ubicación de la terminal"
          maxlength="50"
          [(ngModel)]="terminal.ubicacion"
          required>
      </div>
      <div class="col-4">
        <label>IP</label>
        <input
          type="text"
          name="ip"
          class="form-control"
          placeholder="IP de la terminal"
          maxlength="15"
          [(ngModel)]="terminal.ip"
          required>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <label class="label">Nombre</label>
        <input
          type="text"
          name="nombre"
          class="form-control"
          placeholder="Nombre de la terminal"
          maxlength="50"
          [(ngModel)]="terminal.nombre"
          required>
      </div>
      <div class="col-4">
        <label class="label">Grupo</label>
        <select class="form-select" [(ngModel)]="selectedGrupo" (change)="onGrupoChange($event)" aria-label="Planta select" name="grupoSelect">
          <option value="0">Selecciona el grupo de la terminal</option>
          <option *ngFor="let planta of plantas" [value]="planta.idPlanta">{{planta.descripcion}}</option>
        </select>
      </div>
      <div class="col-4">
        <div class="row mt-3">
          <div class="col-5">
            <div class="form-check">
              <input class="form-check-input" type="radio" [(ngModel)]="selectedTipo" (change)="onTipoChange($event)"
                     name="flexRadioCoG" value="flexRadioComedor">
              <label class="form-check-label label" for="flexRadioComedor">
                Comedor
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" [(ngModel)]="selectedTipo" (change)="onTipoChange($event)"
                     name="flexRadioCoG" value="flexRadioGimnasio">
              <label class="form-check-label label" for="flexRadioGimnasio">
                Gimnasio
              </label>
            </div>
          </div>
          <div class="col-7">
            <button type="button" class="btn btn-primary btnBlue w-100" (click)="uncheckRadio()">
              Desmarcar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col" id="divButtons">
        <button class="btn btn-primary w-25 btnBlue" [disabled]="terminalForm.invalid" type="submit"
                data-placement="left" title="submit">
          Guardar
        </button>
        <button class="btn btn-danger w-25"  id="btnCancel" (click)="goToRoute('catalogues/terminals')">Cancelar</button>
      </div>
    </div>
    <catalogue-modal-info [titulo]="tituloModal" [mensaje]="mensajeModal" [redirect]="redirectModal"></catalogue-modal-info>
  </form>
</div>
