<div class="row pt-4">
  <div class="col-9 pt-1" id="userIcon">
    <img src="assets/icons/32px/user_icon.png">
  </div>
  <div class="col pt-2" id="lblUserName">
    <h2>{{userName}}</h2>
  </div>
  <div class="col">
    <button
        type="button"
        class="btn"
        data-bs-toggle="modal"
        data-bs-target="#modalLogout"
        data-toggle="tooltip"
        data-placement="left" title="Cerrar sesión"
        id="btnLogout">
          <img src="assets/icons/32px/logout_icon.png">
      </button>
      <shared-modal-logout></shared-modal-logout>
  </div>
  <div class="col-5">

  </div>
</div>

