#lblUserName {
  /* text-align: center;*/
  padding-left: 20px;
  width: fit-content;
}

#userIcon {
  text-align: right;
  padding-right: 0px;
}

#btnLogout {
  text-align: center;
  padding-left: 2px;
}
