<div class="row">
  <div class="col" id="lblTitle">
    <h1>{{title}}</h1>
    <hr class="mb-4"/>
  </div>
</div>
<div class="row">
  <catalogue-form-details-contractor
        [idContractor]="idContractor">
  </catalogue-form-details-contractor>
</div>
