.container {
  display: flex;
  flex-direction: row;
  overflow-y: auto;
  height: 100%;
  width: 100%;
  max-width: 100%;
  margin-left: 0% !important;
  padding:0%;
}

.sidebar {
  width: 20%;
}

.componentContainer {
  width: 80%;
  padding: 20px;
  /**/
}
