<div class="container" >
  <!--div class="row"-->
    <div class="sidebar">
      <app-shared-sidebar></app-shared-sidebar>
    </div>
    <div class="componentContainer">
      <div>
        <shared-login-menu></shared-login-menu>
      </div>
      <div >
        <router-outlet  style="overflow-y: scroll;"></router-outlet>
      </div>
    </div>
  <!--/div-->
</div>
