.header {
  /*margin: 0;*/
  padding: 0;
  border: 0;
  background: #043474;
  /*box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);*/
}

.headerFooter {
  background: #043474;
}
.container-login {
  display: flex;
  /* align-items por defecto tiene el valor `stretch` */
  align-items: center;
}

#lblVersion {
  margin-top: 10px;
  text-align: center;
  font-size: x-small;
}

#lblCopyRight {
  margin-top: 10px;
  text-align: center;
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  color: white;
}
