
<div class="container-fluid" style="padding-left: 0%; " >
  <header class="row pt-5 headerFooter"></header>
  <br>
  <br>
  <br>
  <section class="row pt-5">
    <div class="container-login">
      <div class="col-6 form-container">
        <img src="assets/logos/Indorama_logo.png" class="mx-auto d-block">
      </div>
      <div class="col-4">
        <app-form-login></app-form-login>
        <p id="lblVersion">Control de accesos v1.0.7.1</p>
      </div>
    </div>
  </section>
  <footer class="headerFooter">
    <p id="lblCopyRight"> ©Copyright <b>Indorama</b> by Dataware. <b>2024</b></p>
  </footer>
</div>
