<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Valor</th>
        <th scope="col">Unidad</th>
      </tr>
    </thead>
    <tbody *ngFor="let parameter of parameters">
      <tr>
        <td>{{parameter.nombre}}</td>
        <td>{{parameter.descripcion}}</td>
        <td>
          <input type="number" class="form-control" id="etxtValue" value="{{parameter.valor}}"
          [(ngModel)]="parameter.valor">
        </td>
        <td>{{parameter.unidad}}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row">
  <div class="col"> </div>
  <div class="col-4">
    <button type="button" class="btn" id="btnSave" (click)="emitParameter()">Guardar cambios</button>
  </div>
</div>

