<mat-card>
    <mat-card-header class="mat-card-header">
        <mat-card-title class="mat-card-header-text"><h1> Confirmación de Eliminación </h1></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h3 style="text-align: center;">¿Desea eliminar perfil {{ data.perfil.descripcion }}?</h3>
        <br>
        <div class="buttons">
            <button  mat-raised-button color="primary" (click)="deleteRequest()">Aceptar</button>
            <button style="margin-left: 16px;" mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
        </div>
    </mat-card-content>
</mat-card>
