
<mat-card>
  <mat-card-header>
    <h2>PERMISOS PARA {{data.perfil}} </h2>
  </mat-card-header>
  <mat-dialog-content class="mat-typography">
    <mat-checkbox class="example-margin"
                  [checked]="allComplete"
                  [indeterminate]="someComplete()"
                  (change)="setAll($event.checked)">
                Todos</mat-checkbox>
      <hr>
    <div *ngFor="let modulo of modulos">
      <section class="example-section">
        <span class="example-list-section">
          <strong>{{modulo.nombre}}</strong>
        </span>
        <span class="example-list-section">
          <p>
          <mat-checkbox *ngFor="let accion of modulo.acciones" [(ngModel)]="accion.isActivated"
                         (ngModelChange)="updateAllComplete()">  {{accion.nombre}}
          </mat-checkbox>
          @if ( modulo.acciones.find(findAccion)?.isActivated && modulo.camposEditables.length != 0 ) {
            <p>
            Campos editables
            <mat-chip-listbox >
              <mat-chip color="accent" *ngFor="let campos of modulo.camposEditables" >
                <mat-checkbox style="font-variant-caps:all-small-caps" [(ngModel)]="campos.isActivated"> {{campos.nombreCampo}} </mat-checkbox>
              </mat-chip>
          </mat-chip-listbox>
        </p>
        }
      </p>
        </span>
      </section>
      <hr>
    </div>
  </mat-dialog-content>
  <mat-card-actions >
    <div class="buttons">
      <button mat-raised-button (click)="updatePermisos()" color="primary">Aceptar</button>
      <button style="margin-left: 8vh;" mat-raised-button mat-dialog-close color="warn">Cancelar</button>
    </div>
  </mat-card-actions>
</mat-card>