
.example-container {
  position: relative;
}
.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}
.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}
.mat-column-number,
.mat-column-state {
  max-width: 54px;
}
.mat-column-created {
  max-width: 124px;
}
.align-columns{
  text-align: center;
}
