
<div class="example-container mat-elevation-z8">
  <div class="example-table-container" >
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container" >
        <table mat-table [dataSource]="datasource" class="example-table" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
              <strong>
                {{ column }}
              </strong>
            </th>
            @if (column != 'Acciones')
            {
              <td mat-cell *matCellDef="let row" class="align-columns">
                {{ row[dbColumns[columns.indexOf(column)]] }}
              </td>
            }
            @else
            {
              <td mat-cell *matCellDef="let row" class="align-columns">
                <button mat-icon-button color="primary" matTooltip="Editar usuario"
                        matTooltipPosition="below" data-toggle="tooltip"
                        data-placement="left" title="Editar usuario"
                        (click)="editUser(row[dbColumns[columns.indexOf('ID')]],row[dbColumns[columns.indexOf('Perfil')]])">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" matTooltip="Editar usuario"
                        matTooltipPosition="below" data-toggle="tooltip"
                        data-placement="left" title="Eliminar usuario"
                        data-bs-toggle="modal"
                        data-bs-target="#modalDeleteUser"
                        (click)="deleteUser(row[dbColumns[columns.indexOf('ID')]],row[dbColumns[columns.indexOf('Usuario')]])">
                  <mat-icon>delete</mat-icon>
                </button>
                <catalogue-modal-delete-user [user]="usuario" [idUser]="idUsuario"></catalogue-modal-delete-user>
              </td>
            }
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10]" class="paginator-sticky" aria-label="Select page of users"></mat-paginator>
</div>

