.botones {
    display: flex;
    justify-content: space-between;
  }
  
  .botones button {
    margin-right: 10px;
  }

  .formcontainer {
    display: flex;
    flex-direction: row;
    height: 81vh;
    overflow-y: auto;
  }
  
  .formulario {
    width: 35%;
    padding: 20px;
  }
  
  .visualizador {
    width: 65%;
    padding: 20px;
  }