<div class="row">
  <div class="col-12" id="lblTitle">
    <h1 id="lblTitle"><b>Reporte Contratistas</b></h1>
    <hr />
    <div class="row">
      <h3>Criterios de busqueda</h3>
    </div>
    <form #contractorReportForm="ngForm">
      <div class="row mb-3">
        <div class="col-3">
          <label class="label">Fecha Inicial</label>
          <input type="date" name="FechaInicial" class="form-control"
                 placeholder="Fecha Inicial" [(ngModel)]="fechaInicial" required>
        </div>
        <div class="col-3">
          <label class="label">Fecha Final</label>
          <input type="date" name="FechaFinal" class="form-control"
                 placeholder="Fecha Final" [(ngModel)]="fechaFinal"
                 required>
        </div>
        <div class="col-3">
          <label class="label">Compañía Contratista</label>
          <input class="form-control" list="datalistOptions" id="companyDataList"
                 [(ngModel)]="empresa" placeholder="Escriba para buscar una compañía"
                 autocomplete="off" (input)="onInputChange($event)"
                 name="Empresa">
          <datalist id="datalistOptions">
            <option *ngFor="let company of filteredCompanies"
                    [value]="company.descripcion">
            </option>
          </datalist>
        </div>
        <div class="col-3">
          <label class="label">Nombre Contratista</label>
          <input type="text" class="form-control" placeholder="Nombre contratista"
                 id="nombreContratista" [(ngModel)]="nombreContratista"
                 name="NombreContratista">
        </div>
      </div>
    </form>
    <hr />
    <div class="row mb-4">
      <div class="col-6">
        <button mat-raised-button matTooltip="Buscar"
                color="primary" type="submit"
                [disabled]="contractorReportForm.invalid"
                (click)="onSubmit(contractorReportForm)"
                >
          Buscar
        </button>&nbsp;
        <button mat-raised-button matTooltip="Limpiar"
                color="primary"
                (click)="limpiarFormulario(contractorReportForm)">
          Limpiar
        </button>
      </div>
      <div class="col-6" style="text-align:right;">
        <button mat-raised-button [matMenuTriggerFor]="menu"
                [disabled]="contractorReportForm.invalid || reportByCompany.length === 0">
          <img src="assets/icons/16px/edit_icon.png">
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item class="icon-btn" (click)="downloadDocument('pdf')">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;PDF
          </button>
          <button mat-menu-item class="icon-btn" (click)="downloadDocument('excel')">
            <img class="img-btn" src="assets/icons/16px/edit_icon.png">&nbsp;&nbsp;EXCEL
          </button>
        </mat-menu>
      </div>
    </div>
    <reports-table-contractors-report [reportByCompany] = "reportByCompany"
                                      [reportLoading]   = "reportLoading"
                                      [reportLoaded]    = "reportLoaded">
    </reports-table-contractors-report>
  </div>
</div>
