<div *ngIf="datasource.data.length === 0 && isEmployeesLoaded" class="mb-3">
  <h3>
    <span class="badge bg-danger no-records ">
      *No hay registros disponibles con los filtros especificados
    </span>
  </h3>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container" >
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container" >
        <table mat-table [dataSource]="datasource" class="example-table" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
              <strong>
                {{column}}
              </strong>
            </th>
            <td mat-cell *matCellDef="let row" class="align-columns">
              {{ row[dbColumns[columns.indexOf(column)]] }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" class="paginator-sticky"
                 aria-label="Select page of contractors"></mat-paginator>
</div>
