<div *ngIf="datasource.data.length === 0 && contractorsLoaded" class="mb-3">
  <h3>
    <span class="badge bg-danger no-records ">
      *No hay contratistas disponibles con los filtros especificados
    </span>
  </h3>
</div>
<div class="example-container mat-elevation-z8">
  <div class="example-table-container" >
    <div class="example-container mat-elevation-z8">
      <div class="example-table-container" >
        <table mat-table [dataSource]="datasource" class="example-table" matSort>
          <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="align-columns">
              <strong>
                {{ column }}
              </strong>
            </th>
            <td mat-cell *matCellDef="let row" class="align-columns">
              <ng-container *ngIf="column !== 'Editar'; else editButton">
                {{ getCellValue(column, row) }}
              </ng-container>
              <ng-template #editButton>
                <button mat-icon-button color="primary"
                        matTooltip="Editar Permisos" matTooltipPosition="below"
                        (click)="goToRoute('catalogues/contractorDetails', row['idContratistas'])">
                  <mat-icon>edit</mat-icon>
                </button>
              </ng-template>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
      </div>
    </div>
  </div>
  <mat-paginator [pageSizeOptions]="[10, 50, 100]" class="paginator-sticky"
                 aria-label="Select page of contractors" (page)="changeNumberOfRegisters($event)"></mat-paginator>
</div>
