<div class="row">
  <form (load)="savePassword()">
    <div class="row">
      <div class="col-6">
        <label>Usuario</label>
        <input
        type="text"
        name="user"
        class="form-control "
        placeholder="Usuario"
        minlength="1"
        maxlength="30"
        required
        value="{{user.usuario1}}"
        [(ngModel)]="user.usuario1">
      </div>
      <div class="col-6">
        <label>Nombre de usuario</label>
        <input
        type="text"
        name="userName"
        class="form-control "
        placeholder="Nombre de usuario"
        minlength="1"
        maxlength="100"
        value="{{user.nombreUsuario}}"
        [(ngModel)]="user.nombreUsuario">
      </div>
    </div>
    <div class="row">
      <h1></h1>
    </div>
    <div class="row">
      <div class="col-6">
        <label>Contraseña</label>
        <input
        type="password"
        name="password"
        class="form-control "
        placeholder="Contraseña"
        minlength="5"
        maxlength="15"
        value="{{user.password}}"
        [(ngModel)]="user.password"
        (ngModelChange)="savePassword()">
      </div>
      <div class="col-6">
        <label>Perfil</label>
        <select class="form-select" id="prfoileSelect" #selectItem (change)="changeProfile(selectItem.value)">
          <option *ngIf="idUser == 0" selected>Seleccione una opción</option>
          <option *ngIf="idUser > 0" selected>{{profile.clave}}</option>
          <option *ngFor="let profileItem of listProfiles">{{profileItem.clave}}</option>
        </select>
      </div>
    </div>
    <div class="row">
      <h1></h1>
      <h1></h1>
    </div>
  </form>
  <div class="row">
    <div class="col" id="divButtons">
      <button class="btn btn-primary w-25" id="btnSave" (click)="saveUser()">Guardar</button>
      <button class="btn btn-danger w-25" id="btnCancel" (click)="goToRoute('catalogues/users')">Cancelar</button>
    </div>
  </div>
  <catalogue-modal-detail-user></catalogue-modal-detail-user>
</div>
