
<div style="height: 81vh;">
<h1 id="lblTitle"><b>Catálogo de Perfiles</b></h1>
<hr/>
<div style="text-align:right; padding: 5px;">
    <button mat-raised-button (click)="addPerfil()" color="primary" matTooltip="Añadir">Añadir Perfil</button>
</div>
<div class="example-container mat-elevation-z8">
    <div class="example-table-container" >
      <table mat-table [dataSource]="datasource" matSort>
        <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
          @if (column == 'descripcion') {
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> {{"descripción" | titlecase}} </strong> </th>
          }
          @else {
            <th mat-header-cell *matHeaderCellDef mat-sort-header><strong> {{column | titlecase}} </strong> </th>
          }
          @if (column != 'acciones') {
            <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
          }@else{
            <td mat-cell *matCellDef="let row">
              <button mat-icon-button matTooltip="Editar Permisos"
                      matTooltipPosition="below" color="primary"
                      (click)="getPermisos(row)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button matTooltip="Eliminar Perfil"
                      (click)="deletePerfil(row)" color="warn"
                      aria-label="Detalles de fila">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          }
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10, 20]" class="paginator-sticky" aria-label="Select page of users"></mat-paginator>
    </div>
</div>
</div>
