.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

  .example-full-width {
    width: 100%;
  }

  /* Structure */
.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 70vh;
  overflow: auto;
}
.example-rate-limit-reached {
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 54px;
}

.mat-column-created {
  max-width: 124px;
}

.paginator-sticky{
  bottom: 0px;
  position: sticky;
  z-index: 10;
}

#lblTitle {
  color: #043474;
}

