
<div class="example-container mat-elevation-z8">
  <div class="example-table-container" >
    <table mat-table [dataSource]="datasource" class="example-table" matSort>
      <ng-container *ngFor="let column of columns" [matColumnDef]='column'>
        @if (column == 'descripcion') {
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"descripción" | titlecase}} </th>
        }
        @else {
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column | titlecase}} </th>
        }
        @if (column != 'acciones') {
          <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
        }@else{
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Editar Permisos"
            matTooltipPosition="below"
            (click)="getPermisos(row)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Eliminar Perfil"
            (click)="deletePerfil(row)"
            aria-label="Detalles de fila">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        }
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columns;"></tr>
      <!-- Row shown when there is no matching data. -->
      <!--tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">Sin registros coincidentes para el criterio "{{filtro}}"</td>
      </tr-->
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>
